# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies

# IDEs and editors
.idea/
*.iml
.vscode/

# Environment files
.env
.env.*

# Platform build artifacts
android/app/debug/
android/app/profile/
android/app/release/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
web/.dart_tool/

# Misc
*.log
*.tmp
